<!--The content below is only a placeholder and can be replaced.-->
<div id="mainDiv">
  <h1>
    Welcome to {{selectedDash.id}}'s Dashboard!
  </h1>

  <div id="weather">
      <div class="status" *ngFor="let location of this.selectedDash.locations">
        {{location.woeid}}

      </div>
  </div>

<div class="weather">
{{this.selectedDash.query.query.created}}
</div>

<div id="dashboards">
<h2>Dashboards available: </h2>
<ul>
  <li  *ngFor="let dash of this.dashboardList"
         [class.selected]="dash === selectedDash"
          (click)="onSelect(dash)"
  >
    {{dash.id}}
  </li>
</ul>
</div>

