
  .selected {
    background-color: #CFD8DC !important;
    color: white;
  }



  .status {

    border:  1px solid gray;
    margin: 5px;
    padding: 2px;
    max-height: 15px;
    max-width: 900px;

  }

  li,li.selected:hover {
    cursor: pointer;
    background-color: #BBD8DC !important;
    color: white;
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
  }

  .weather, .weather>ul {
    

    width:551px;

  }

  #weatherDiv {

    color:    rgba(0, 0, 0, 0.87);
    direction:    ltr;
    display:    block;
    font-family:    Roboto, arial, sans-serif;
    font-size:    15px;
    height:    1980px;
    pointer-events:    none;
    position:    relative;
    width:    1040px;
  }


#dashboards {
    
width: 300px;
height: 100%; 
    border: 5px solid firebrick;
    padding: 25px;
    margin: 25px;
    align-self: flex-start;
    position: absolute;
    top: 0px;
    right: 0px;
    margin:0px;
    bottom: 0px;
    background: cadetblue;
    padding: 5px;


}

h1,h2 {
    text-align: center;
    text-decoration: cornflowerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;
    position: relative
}

#mainDiv {
    
    position: relative;
    text-align: center;

}
