<!--The content below is only a placeholder and can be replaced.-->
<div id="mainDiv">
  <h1>
    Welcome to {{selectedDash.name}}'s Dashboard!
  </h1>

  <div id="weather">
<div class="status" *ngFor="let location of selectedDash.locations">
        {{location.locationName}}

      </div>
  </div>
-->
<div class="weather">
<h3>Weather Status</h3>
<!--{{this.selectedDash.query}}-->
{{this.ws.datastream}}
</div>

<div id="dashboards">
<h2>Dashboards available: </h2>
<ul>
  <li  *ngFor="let dash of this.dashboardList"
         [class.selected]="dash === selectedDash"
          (click)="onSelect(dash)"
  >
    {{dash.name}}
  </li>
</ul>
</div>

