
  .selected {
    background-color: #CFD8DC !important;
    color: white;
  }



  .status {

    border:  1px solid gray;
    margin: 5px;
    padding: 2px;
    max-height: 15px;
    max-width: 900px;

  }

  li,li.selected:hover {
    cursor: pointer;
    background-color: #BBD8DC !important;
    color: white;
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
  }

  .weather {
    box-sizing:border-box;
    color:rgba(0, 0, 0, 0.87);
    cursor:default;
    direction:ltr;
    display:block;
    font-family:"Roboto Slab", "Times New Roman", serif;
    font-size:14px;
    font-variant-ligatures:none;
    height:413.4px;
    line-height:19px;
    min-height:46px;
    outline-color:rgba(0, 0, 0, 0.87);
    outline-style:none;
    outline-width:0px;
    padding-bottom:15px;
    padding-left:15px;
    padding-right:15px;
    padding-top:12px;
    pointer-events:auto;
    unicode-bidi:isolate;
    white-space:pre-wrap;
    width:551px;
    word-wrap:break-word;
    -webkit-user-modify:read-only;
  }

  #weatherDiv {

    color:    rgba(0, 0, 0, 0.87);
    direction:    ltr;
    display:    block;
    font-family:    Roboto, arial, sans-serif;
    font-size:    15px;
    height:    1980px;
    pointer-events:    none;
    position:    relative;
    width:    1040px;
  }


#dashboards {
    
width: 300px;
height: 100%; 
    border: 5px solid firebrick;
    padding: 25px;
    margin: 25px;
    align-self: flex-start;
    position: absolute;
    top: 0px;
    right: 0px;
    margin:0px;
    bottom: 0px;
    background: cadetblue;
    padding: 5px;


}

h1,h2 {
    text-align: center;
    text-decoration: cornflowerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;
    position: relative
}

#mainDiv {

    position: relative;
    text-align: center;

}
